/.idea
.DS_Store
!assets/.gitignore
/assets/*
/protected/runtime/*
!protected/runtime/.gitignore
/protected/data/*.db
/themes/classic/views/
protected/config/main.php
protected/config/main_slave.php
protected/config/console.php
protected/components/Distribute.php
protected/controllers/TestController.php
config.inc.php
content
/content/

uc_client/data/cache/apps.php
Makefile
